/*
 *
 * MMM-MoonPhase
 *
 * Nolan Kingdon
 * MIT Licensed.
 *
 * Custom here your css module
 *
 */
#moonphase-wrapper {
	width: 300px;
	color: white;
	font-weight: 800;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

#moonphase-title {
	text-align: center;
	width: auto;
	border-bottom: 1px solid white;
}

#moonphase-phase {
	text-align: center;
	font-weight: 400;
	color: grey;
	font-size: 18pt;
}

#moonphase-age {
	text-align: center;
	font-weight: 400;
	color: grey;
	font-size: 18pt;
}

#moonphase-canvas {
	margin-left: auto;
	margin-right: auto;
}
