/*
 *
 * MMM-MoonPhase
 *
 * Nolan Kingdon
 * MIT Licensed.
 *
 */
#moonphase-wrapper {
	color: var(--color-text-bright);
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}

#moonphase-wrapper * { 
    width: fit-content;
    margin: 0;
    padding: 0;
}

#moonphase-canvas {
    margin-bottom: 10px;
}

#moonphase-phase {
	color: var(--color-text);
	font-size: var(--font-size-small);
}

#moonphase-age {
	color: var(--color-text);
	font-size: var(--font-size-small);
}

#moonrise-container {
    display: flex;
	color: var(--color-text);
	font-size: var(--font-size-small);
    flex-direction: row;
}

#moonrise-container div {
    margin: 0 5px;
}

